extends layout

block content
  .forms
    .container
      form.group-inline(role='form', action="/users/register",method="post", style='max-width: 300px;')
        .form-group
          input.form-control(type='text', name="email", placeholder='Enter Username')
        .form-group
          input.form-control(type='password', name="password", placeholder='Password')
        button.btn.btn-primary.btn-lg.btn-block(type='submit') Submit
        .newaccount
          a(href='/users/login')  Login
